:root {
    --cTableHeader: hsl(186, 13%, 46%);
    --cBorder: #A2D1D1;
    --cTextHeader: #3F4C51;
    --cText: #A2D1D1;
    --cBackground: #0F1015;
    --cLightBackground: #292a31;
    --cWhite: #f4f1ec;
    --cLightGrey: #C0C0C0;
    --cGrey: #828E8E;
    --cDarkGrey: #5E696A;
    --fText: 'Courier New', monospace;
    --sAside: 180px;
    --cSelectedBg: whitesmoke;
}

body {
    background-color: var(--cBackground);
    color: var(--cText);
    font-family: var(--fText);
    padding: 10px;
    font-size: medium;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: 95%;
    border-color: var(--cTableHeader);
}

table,
td,
th {
    border: 1px solid;
}

th {
    background-color: var(--cTableHeader);
    color: var(--cBackground);
    border: 1px solid var(--cText)
}

.container {
    margin-left: var(--sAside);
    padding-left: 10px;
}

.grid {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

}

.card {
    background-color: var(--accent);
    margin: 0.5rem;
    height: 100%;
}

.cardHeader {
    border: 1px solid var(--cText);
    background-color: var(--cBackground);
    padding: 10px;
    font-size: large;
    font-style: bold;
    font-weight: 1000;

}

.cardHeaderSelected {
    background-color: var(--cBorder);
    padding: 10px;
    color: var(--cBackground);
    font-size: large;
    font-style: bold;
    font-weight: 1000;
    /* Cut the top right corner */
    clip-path: polygon(0 0,
            calc(100% - 25px) 0,
            100% 25px,
            100% 100%,
            0% 100%);
}

.cardContent {
    border: 1px solid var(--cText);
    background-color: var(--cBackground);

    padding: 10px;
    padding-bottom: 1.5rem;

    overflow: hidden;
    background: var(--cBackground);
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            26px 100%,
            0 calc(100% - 26px));
}

.cardBorder {
    background: var(--cBorder);
    clip-path: polygon(0 0,
            100% 0,
            100% 100%,
            25px 100%,
            0 calc(100% - 25px));
}

hr {
    background-color: var(--cTextHeader);
    border-style: solid;
}

button {
    background-color: var(--cBackground);
    border: 2px solid var(--cText);
    font-family: var(--fText);
    color: var(--cText);
    padding: 5px 10px;
    font-weight: 600;
    text-align: center;
    display: inline-block;
    font-size: medium;
    font-style: bold;
}

button:hover {
    background-color: var(--cTableHeader);
    color: var(--cBackground);
}

input {
    background-color: var(--cBackground);
    border: 1px solid var(--cText);
    color: var(--cText);
    padding: 5px;
}

form {
    margin: 5px;
}

input[type=text],
select {
    width: 100%;
    background-color: var(--cBackground);
    border: 1px solid var(--cText);
    font-family: var(--fText);
    color: var(--cText);
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
}

pre {
    background-color: white;
    color: var(--cBackground);
    font-size: medium;
    box-shadow: 5px 5px var(--cDarkGrey);
    padding-left: 10px;
}

aside {
    margin: 10px;
    height: 100%;
    /* 100% Full-height */
    width: var(--sAside);
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: var(--cBackground);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    color: var(--cGrey);
    border: var(--cBorder) solid 1px;
}

.tree ul {
    display: block;
    list-style: none;
    margin: 0;
    padding-left: 0.5em;
    position: relative;
}

.tree li {
    display: block;
    position: relative;
    padding-left: 1.3em;
}

.tree li::before {
    content: "├─ ";
    position: absolute;
    left: 0;
    color: var(--cDarkGrey);
}

.tree li:last-child::before {
    content: "└─ ";
}

a {
    text-decoration: none !important;
    color: var(--cGrey);
}

tr.selected {
    background-color: var(--cSelectedBg);
    color: var(--cBackground);
}

li.selected {
    background-color: var(--cSelectedBg);
    color: var(--cBackground);
}
